__pycache__/
*.pyc
backend/venv/
backend/.env
backend/*.db
backend/uploads/
backend/data/
backend/app/sim_data/current_bank/raw_samples.npz
backend/app/sim_data/current_bank_mission_bay/raw_samples.npz
node_modules/
frontend/dist/
frontend/.env.local
.DS_Store

.vercel
.env*
